html {
    font-size: 20px;
}

h2 {
    margin: 2rem;
    text-align: center;
    font: bold 1.5em sans-serif;
}

form {
    border-radius: 15px;
    background-color: rgb(164, 147, 197);
    padding: 25px;

    text-align: center;
}

fieldset {
    box-sizing: border-box;
    width: auto;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 15px;
    border-color: rgb(121, 95, 173);
    border-radius: 10px;
}